@{
    ViewBag.Title = "استرجاع كلمة السر";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>
<div>
    <p>
        @*Please check your email to reset your password.*@
        يرجى التحقق من بريدك الإلكتروني لإعادة تعيين كلمة المرور الخاصة بك.
    </p>
</div>
	
