@{
    ViewBag.Title = "لقد تم اعادة تعيين كلمة سر جديدة";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>
<div>
    <p>
        @*Your password has been reset. Please @Html.ActionLink("click here to log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })*@
        من فضلك ...  @Html.ActionLink("اضغط هنا لاعادة الدخول مرة اخرى", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </p>
</div>
