################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/PrimeMarket/Views/Accounts/Index.cshtml
