@model PrimeMarket.Models.Category

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/LayoutAdmin.cshtml";
}

<h2>تفاصيل</h2>

<div>
    <h4>منتج رئيسى</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>اسم المنتج
            @*@Html.DisplayNameFor(model => model.Category1)*@
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Category1)
        </dd>

        <dt>الصور
            @*@Html.DisplayNameFor(model => model.ImagePath)*@
        </dt>

        <dd>
            @if (Model.ImagePath != "")
            {

                <img src="~/img/categories/@Html.DisplayFor(model => model.ImagePath)" style="height:200px;width:200px;" name="subcatimage" onmouseover="subcatimage.width = '500'; subcatimage.height = '400';"
                     onmouseout="subcatimage.width = '150'; subcatimage.height = '100';" />
            }
            else
            {
                @Html.DisplayFor(model => model.ImagePath)
            }
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("تعديل", "Edit", new { id = Model.CategoryId }) |
    @Html.ActionLink("عودة للنتجات الرئيسية", "Index")
</p>
