@model PrimeMarket.Models.CommodityImage

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/LayoutAdmin.cshtml";
}

<h2>تفاصيل</h2>

<div>
    <h4>الصورة</h4>
    <hr />
    <div class="row">
        <div class="col-md-2">
            <b>
                السلعة
                @*@Html.DisplayNameFor(model => model.Commodity.Title)*@
            </b>
        </div><div class="col-md-10">
            @Html.DisplayFor(model => model.Commodity.Title)
        </div>
    </div>
    <div class="row">
        <div class="col-md-2">
            <b>
                الصورة
                @*@Html.DisplayNameFor(model => model.ImagePath)*@
            </b>
        </div><div class="col-md-10">
            @if (Model.ImagePath != "" && Model.ImagePath != null)
            {
                <img src="~/img/commodities/@Html.DisplayFor(model => model.ImagePath)" id="commidityimage" style="height:200px;width:250px;" name="commidityimage" />
            }
            else
            {
                @Html.DisplayFor(model => model.ImagePath)
            }
        </div>
    </div>



   
</div>

        <p>
            @Html.ActionLink("تعديل", "Edit", new { id = Model.CommodityImageId }) |
            @Html.ActionLink("عودة لقائمة الصور", "Index", new { CommodityId = Model.CommodityId }, htmlAttributes: null)
        </p>
