@model PrimeMarket.Models.Governorate

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/LayoutAdmin.cshtml";
}

<h2>حذف</h2>

<h3>هل انت متأكد من حذف هذة؟</h3>
<div>
    <h4>المحافظة</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>اسم المحافظة
            @*@Html.DisplayNameFor(model => model.Governorate1)*@
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Governorate1)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="حذف" class="site-btn" /> |
            @Html.ActionLink("عودة للمحافظات", "Index", null, new { @class = "site-btn" })
        </div>
    }
</div>
