@model PrimeMarket.Models.District

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/LayoutAdmin.cshtml";
}

<h2>تفاصيل</h2>

<div>
    <h4>المركز</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>المركز
            @*@Html.DisplayNameFor(model => model.District1)*@
        </dt>

        <dd>
            @Html.DisplayFor(model => model.District1)
        </dd>

        <dt>المحافظة
            @*@Html.DisplayNameFor(model => model.Governorate.Governorate1)*@
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Governorate.Governorate1)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("تعديل", "Edit", new { id = Model.DistrictId }) |
    @Html.ActionLink("عودة للمراكز", "Districtfilter", new { GovernorateId = Model.GovernorateId })
</p>
