@model PrimeMarket.Models.District

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/LayoutAdmin.cshtml";
}
<center>
    <h2>تفاصيل المركز</h2>
</center>

<div>
    @*<h4></h4>*@
    <hr />
    <dl class="dl-horizontal">
        <dt>المركز
           
        </dt>

        <dd>
            @Html.DisplayFor(model => model.District1)
        </dd>

        <dt>المحافظة
            
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Governorate.Governorate1)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("تعديل", "Edit", new { id = Model.DistrictId },new { @class="site-btn"}) |
    @Html.ActionLink("عودة للمراكز", "Index", new { GovernorateId = Model.GovernorateId }, new { @class = "site-btn" })
</p>
