@model PrimeMarket.Models.Village

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/LayoutAdmin.cshtml";
}

<h2>حذف</h2>

<h3>هل انت متأكد من حذف هذه؟</h3>
<div>
    <h4>القرية</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>اسم القرية
         
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Village1)
        </dd>

        <dt>المركز
        
        </dt>

        <dd>
            @Html.DisplayFor(model => model.District.District1)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="حذف" class="site-btn btn-default" /> |
            @Html.ActionLink("عودة للقرى", "Index", new { DistrictId = Model.DistrictId },new { @class= "site-btn" })
        </div>
    }
</div>
